/* Overall styling */
body {
  background-color: black;
}

.container-fluid {
  background-color: black;
}

li a {
  color: #C0C0C0;
}

p {
  color: #C0C0C0;
  font-size: 36px;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  color: #C0C0C0;
  text-decoration: underline;
  text-align: center;
  font-size: 60px;
  padding-top: 8%;
  padding-bottom: 5%;
}

/* Nav menu */
.nav {
  background-color: black;
}

/* gotoTop */
#gotoTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 24px;
  background-color: green;
  color: white;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* Welcome Message */
#welcome-message {
  text-align: center;
  color: #C0C0C0;
  font-size: 100px;
  padding-top: 15%;
  padding-bottom: 15%;
}

/* Projects Section */
a[aria-expanded='false'] > .caret {
  transform: rotate(-90deg);
}

.panel-group {
  padding-left: 50px;
  padding-right: 50px;
}

/* For cellphones */
@media only screen and (max-width: 600px) {
  #welcome-message {
    font-size: 45px;
    padding-top: 65%;
    padding-bottom: 65%;
  }

  p {
    font-size: 16px;
  }

  .title {
    font-size: 30px;
    padding-top: 20%;
  }

  .panel-title {
    font-size: 10px;
  }

  #gotoTop {
    font-size: 16px;
    bottom: 15px;
    right: 20px;
    padding: 10px;
  }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1080px) {
  #welcome-message {
    font-size: 65px;
    padding-top: 30%;
    padding-bottom: 30%;
  }

  .title {
    padding-top: 15%;
    font-size: 50px;
  }

  p {
    font-size: 25px;
  }

  #gotoTop {
    font-size: 16px;
    bottom: 15px;
    right: 20px;
    padding: 10px;
  }
}
